<br><br>
{{link-to 'New' 'bugs.new' class='btn btn-success'}}
<a {{action 'deleteAll'}} class="btn btn-warning">Delete All</a>
<a {{action 'addBug'}} class="btn btn-info">Add bug</a>

<h2>Here are the bugs:</h2>

{{#if model}}
<ul>
  {{#each model as |bug|}}
    <li>{{link-to bug.title "bugs.details" bug}}</li>
  {{/each}}
</ul>
{{else}}
<p>No bugs were found.</p>
{{/if}}

{{outlet}}